@import "..//..//color.scss";
@import "..//..//media.scss";


.todoContainer {
  display: flex;
  padding: 20px 23px 46px 23px;
  flex-direction: column;
  align-items: center;
  border-radius: 14px;
  gap: 30px;
  background: #f5f8ff;
  box-shadow: 0 121px 34px 0 rgba(0, 0, 0, 0),
    0 77px 31px 0 rgba(0, 0, 0, 0.01),
    0 44px 26px 0 rgba(0, 0, 0, 0.02),
    0 19px 19px 0 rgba(0, 0, 0, 0.03),
    0 5px 11px 0 rgba(0, 0, 0, 0.04);

  @media (max-width: $breakpoint-desktop) {
    padding: 18px;
    gap: 26px;
  }

  @media (max-width: $breakpoint-tablet) {
    padding: 16px;
    gap: 22px;
  }

  @media (max-width: $breakpoint-mobile) {
    padding: 12px;
    gap: 20px;
  }
}

.boxLeft {
  display: flex;
  align-items: center;
  gap: 14px;

  p {
    color: #ff6767;
    font-family: sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}

.hedline {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.addTask {
  padding: 15px 30px;
  color: rgb(166, 166, 166);
  border: none;
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  border-radius: 10px;
  cursor: pointer;
}

.icon {
  pointer-events: none;
}

.tasks {
  width: 100%;
  display: flex;
  padding: 25px;
  gap: 15px;
  flex-direction: column;
}

.task {
  width: 100%;
 
  height: auto;
  border: 1px solid lightgray;
  border-radius: 14px;
  padding: 14px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.taskNote {
  background-image: url("/VectorRed.svg");
  width: 14px;
  height: 14px;
  flex-shrink: 0;
  stroke-width: 2px;
  display: flex;
  align-items: center;
  stroke: #f21e1e;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.taskInfo {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.taskHeading {
  width: 100%;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heading {
  color: #000;
  font-family: sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.taskContent {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;

  @media (max-width: $breakpoint-tablet) {
    gap: 8px;
 
  }

  @media (max-width: $breakpoint-mobile) {
    gap: 6px;
  }
}

.img {
  width: 88px;
  height: 88px;
  flex-shrink: 0;
  border-radius: 14px;
  object-position: center;
  object-fit: cover;

  @media (max-width: $breakpoint-tablet) {
    width: 72px;
    height: 72px;
  }

  @media (max-width: $breakpoint-mobile) {
    width: 60px;
    height: 60px;
  }
}

.taskData {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.name {
  color: #000;
  font-family: sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.span {
  color: #42ade2;
  font-family: sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}