@import "..//..//color.scss";
@import "..//..//padding.scss";

.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.input {
  width: 100%;
  padding: 0.75rem 2.5rem;  
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.iconLeft {
  position: absolute;
  left: 10px;
  pointer-events: none;
}

 